.item {
    display: grid;
    grid-template-columns: 1fr min-content 50px;
    grid-template-rows: 1fr;
    gap: 0 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "item_title item_point item_button";
    margin-bottom: 15px;
}

.item .item_title {
    grid-area: item_title;
    font-size: 25px;
    font-weight: bold;
    align-self: center;
}

.item .item_point {
    grid-area: item_point;
}

.item .item_button {
    grid-area: item_button;
    text-align: center;
    height: fit-content;
    cursor: pointer;
    font-size: 12px;
}

.item.group .item_title {
    color: var(--BLUE);
}

.item.habit_ext .item_title {
    color: var(--LIME);
}

.item.habit_check .item_title {
    color: var(--CHERRY);
}

.item.habit_number .item_title {
    color: var(--LEMON);
}

.item .item_button.checked {
    color: var(--LIME);
}

.item .item_button.not_checked {
    color: var(--CHERRY);
}

#view_name {
    font-weight: bold;
    text-align: center;
}

.item .item_point,
#view_name .item_point {
    display: inline-block;
    margin-left: 5px;
    font-size: 12px;
    width: fit-content;
    height: fit-content;
    background: var(--CHERRY);
    color: var(--DARKMODE_WHITE);
    white-space: nowrap;
    font-weight: bold;
}

#view_name .item_point {
    margin-left: 10px;
    position: relative;
    top: -7px;
}

.extension_popup_wrapper {
    top: 0;
    left: 0;
    display: none;
    position: absolute;
}

.extension_popup_wrapper.focus {
    z-index: 2;
}

.extension_popup_wrapper.not_focus {
    z-index: 1;
    opacity: 0.75;
}

.extension_popup_wrapper .popup {
    width: 100%;
    height: 100%;
    display: grid;
    padding: 10px;
    gap: 10px 0px;
    overflow: auto;
    border-radius: 5px;
    grid-template-areas:
        "."
        ".";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    background-color: var(--DARKMODE_GREY_2);
    box-shadow: var(--popup_boxShadow);
}

.extension_popup_wrapper .popup .header {
    display: grid;
    gap: 0px 10px;
    user-select: none;
    grid-template-areas:
        ". .";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 50px;
}

.extension_popup_wrapper .popup .header .title_wrapper {
    display: table;
}

.extension_popup_wrapper .popup .header .title {
    cursor: grab;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    display: table-cell;
    vertical-align: middle;
    background-color: var(--DARKMODE_GREY_0);
}

.extension_popup_wrapper .popup .header .title:active {
    cursor: grabbing;
}

.extension_popup_wrapper .popup .header .close_button {
    font-size: 20px;
    color: var(--CHERRY);
}

.extension_popup_wrapper .popup iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
    background-color: var(--DARKMODE_GREY_4);
}