body {
    margin: 0 auto;
    padding: 25px;
    max-width: 500px;
    text-align: justify;
    font-size: 19px;
}

#private_note {
    display: none;
    background-color: var(--GREY_2);
    padding: 15px;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    margin-bottom: 50px;
    font-size: 15px;
}

#logo_avatar {
    text-align: center;
    margin: 25px 0 50px 0;
}

#logo_avatar img {
    height: calc(100% * 2 / 5);
    width: calc(100% * 2 / 5);
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    background-color: #FFFFFF;
    padding: 5px;
}

#logo_avatar img:nth-child(1) {
    -webkit-transform: rotate(-15deg);
       -moz-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
         -o-transform: rotate(-15deg);
            transform: rotate(-15deg);
}

#logo_avatar img:nth-child(2) {
    -webkit-transform: rotate(15deg);
       -moz-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
         -o-transform: rotate(15deg);
            transform: rotate(15deg);
    background: -webkit-gradient(linear, left top, right top, from(#12c2e9), color-stop(#c471ed), to(#f64f59));
    background: -webkit-linear-gradient(left, #12c2e9, #c471ed, #f64f59);
    background: -moz-linear-gradient(left, #12c2e9, #c471ed, #f64f59);
    background: -o-linear-gradient(left, #12c2e9, #c471ed, #f64f59);
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
}

body>h1 {
    font-size: 25px;
    font-weight: bold;
    margin: 20px 0;
}

.item_card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px -webkit-min-content;
    -ms-grid-columns: 1fr 10px min-content;
    grid-template-columns: 1fr -webkit-min-content;
    grid-template-columns: 1fr min-content;
    -ms-grid-rows: -webkit-min-content 0 -webkit-min-content 0 -webkit-min-content;
    grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content;
    -ms-grid-rows: min-content 0 min-content 0 min-content;
    grid-template-rows: min-content min-content min-content;
    gap: 0 10px;
    grid-auto-flow: row;
        grid-template-areas:
        "title buttons"
        "content content"
        "child child";
    background-color: var(--GREY_2);
    padding: 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

body>.item_card:not(:first-of-type) {
    margin-top: 20px;
}

.item_card .title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: title;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 15px;
    color: var(--GREY_0);
}

.item_card .buttons {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: buttons;
    white-space: nowrap;
}

.item_card .buttons button {
    --base_color: var(--BLUE);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0;
    margin-left: 10px;
    font-size: 15px;
}

.item_card .content {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: content;
    font-weight: bold;
    padding-top: 5px;
}

.item_card .children {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: child;
}

.item_card .children .item_card {
    /* background-color: var(--GREY_1); */
    margin: 0 0 0 -15px;
    width: -webkit-calc(100% + 30px);
    width: -moz-calc(100% + 30px);
    width: calc(100% + 30px);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-top: 7px solid var(--GREY_4);
}

.item_card .children .item_card:first-child {
    margin-top: 15px;
}

.item_card .children .item_card:last-child {
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    margin-bottom: -15px;
}

.protected_information_form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px -webkit-min-content;
    -ms-grid-columns: 1fr 10px min-content;
    grid-template-columns: 1fr -webkit-min-content;
    grid-template-columns: 1fr min-content;
    -ms-grid-rows: -webkit-min-content;
    grid-template-rows: -webkit-min-content;
    -ms-grid-rows: min-content;
    grid-template-rows: min-content;
    gap: 0 10px;
    grid-auto-flow: row;
        grid-template-areas:
        "input button";
}

.protected_information_form input {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: input;
}

.protected_information_form button {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    --base_color: var(--LIME);
    grid-area: button;
}