:root {
    --BLUE: #1877F2;
    --CHERRY: #F3425F;
    --GRAPE: #9360F7;
    --LEMON: #F7B928;
    --LIME: #45BD62;
    --PINK: #FF66BF;
    --SEAFOAM: #54C7EC;
    --TEAL: #2ABBA7;
    --TOMATO: #FB724B;
    --WHITE: #FFFFFF;
    --GREY_0: #999999;
    --GREY_1: #3A3B3C;
    --GREY_2: #242526;
    --GREY_3: #212121;
    --GREY_4: #18191A;
    --BLACK: #000000;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--GREY_4);
    color: var(--WHITE);
    font-size: 18px;
}

body>h2 {
    text-align: center;
    margin-block: 25px;
}

#object_card_list {
    margin: 0 auto;
}

.object_card {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 15px 10px;
    grid-auto-flow: row;
    align-items: center;
    background-color: var(--GREY_3);
    border-radius: 10px;
    padding: 15px;
    width: 250px;
    display: inline-grid;
    margin-bottom: 10px;
}

/* .object_card:hover {
    position: relative;
}

.object_card:hover .buttons {
    height: 33px;
    overflow: auto;
} */

.object_card.no_info {
    grid-template-rows: min-content min-content min-content min-content;
    grid-template-areas:
        "type_icon type_title"
        "name name"
        "balance balance"
        "buttons buttons";
}

.object_card.one_info {
    grid-template-rows: min-content min-content min-content min-content min-content;
    grid-template-areas:
        "type_icon type_title"
        "name name"
        "balance balance"
        ". ."
        "buttons buttons";
}

.object_card.two_info {
    grid-template-rows: min-content min-content min-content min-content min-content min-content;
    grid-template-areas:
        "type_icon type_title"
        "name name"
        "balance balance"
        ". ."
        ". ."
        "buttons buttons";
}

.object_card.three_info {
    grid-template-rows: min-content min-content min-content min-content min-content min-content min-content;
    grid-template-areas:
        "type_icon type_title"
        "name name"
        "balance balance"
        ". ."
        ". ."
        ". ."
        "buttons buttons";
}

.object_card .type_icon {
    grid-area: type_icon;
    text-align: center;
}

.object_card.queue .type_icon,
.object_card.queue .type_title,
.object_card.queue .info_icon {
    color: var(--BLUE);
}

.object_card.fund .type_icon,
.object_card.fund .type_title,
.object_card.fund .info_icon {
    color: var(--SEAFOAM);
}

.object_card.bacc_savings .type_icon,
.object_card.bacc_savings .type_title,
.object_card.bacc_savings .info_icon {
    color: var(--CHERRY);
}

.object_card.bacc_current .type_icon,
.object_card.bacc_current .type_title,
.object_card.bacc_current .info_icon {
    color: var(--LEMON);
}

.object_card.bacc_credit .type_icon,
.object_card.bacc_credit .type_title,
.object_card.bacc_credit .info_icon {
    color: var(--GRAPE);
}

.object_card.debt .type_icon,
.object_card.debt .type_title,
.object_card.debt .info_icon {
    color: var(--TOMATO);
}

.object_card .type_title {
    grid-area: type_title;
    word-break: break-word;
    text-align: justify;
}

.object_card .name {
    grid-area: name;
    font-size: 22px;
    word-break: break-word;
    text-align: justify;
    font-weight: bold;
}

.object_card .balance {
    grid-area: balance;
    font-size: 22px;
    text-align: center;
    padding: 5px 0;
    font-weight: bold;
    color: var(--LIME);
}

.object_card .info_icon {
    text-align: center;
}

.object_card .info_description {
    font-size: 16px;
    text-align: justify;
}

.object_card .buttons {
    grid-area: buttons;
    text-align: center;
    white-space: nowrap;
    overflow: auto;
    /* transition: height 0.5s;
height: 0;
overflow: hidden; */
}

.object_card .buttons button {
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: transparent;
    color: var(--WHITE);
    width: 30px;
    height: 30px;
    margin: 0 0 0 5px;
    font-size: 16px;
    transition: background-color, color 0.25s;
    cursor: pointer;
}

.object_card .buttons button:hover {
    background-color: var(--base_color);
    color: var(--WHITE);
}

.object_card .buttons button:active {
    background-color: var(--WHITE);
    color: var(--base_color);
}

.object_card .buttons button:first-child {
    margin: 0;
}

.object_card .buttons button[title="Cộng/trừ tiền"] {
    --base_color: var(--GRAPE);
}

.object_card .buttons button[title="Phân bổ thu nhập"] {
    --base_color: var(--TOMATO);
}

.object_card .buttons button[title="Chuyển tiền"] {
    --base_color: var(--LEMON);
}

.object_card .buttons button[title="Thanh toán"] {
    --base_color: var(--TEAL);
}

.object_card .buttons button[title="Xem nhật kí"] {
    --base_color: var(--LIME);
}

.object_card .buttons button[title="Sửa thông tin"] {
    --base_color: var(--BLUE);
}

.object_card .buttons button[title="Xóa"] {
    --base_color: var(--CHERRY);
}

.object_card .buttons button[title="Liên kết với tài khoản ngân hàng"],
.object_card .buttons button[title="Liên kết với quỹ"] {
    --base_color: var(--SEAFOAM);
}

.object_card .buttons button[title="Hủy liên kết với tài khoản ngân hàng"],
.object_card .buttons button[title="Hủy liên kết với quỹ"] {
    --base_color: var(--TOMATO);
}

body>.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 15px auto 25px auto;
    max-width: 1111px;
}

body>.buttons button {
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: transparent;
    color: var(--WHITE);
    font-size: 14px;
    transition: background-color, color 0.25s;
    cursor: pointer;
    font-weight: bold;
    flex-grow: 1;
    min-width: fit-content;
}

body>.buttons button i {
    color: var(--base_color);
    transition: background-color, color 0.25s;
    margin-right: 5px;
}

body>.buttons button:hover,
body>.buttons button:hover i {
    background-color: var(--base_color);
    color: var(--WHITE);
}

body>.buttons button:active,
body>.buttons button:active i {
    background-color: var(--base_color);
    color: var(--base_color);
}

.popup_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px) invert(15%);
    display: none;
    justify-content: center;
    align-items: center;
}

.popup_container .main {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "title close_button"
        "content content";
    background-color: var(--GREY_4);
    border-radius: 10px;
    padding: 10px;
}

.popup_container .title {
    grid-area: title;
    background-color: var(--GREY_3);
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    overflow: auto;
}

.popup_container .close_button {
    grid-area: close_button;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    background-color: var(--GREY_3);
    color: var(--CHERRY);
    font-size: 16px;
    transition: background-color, color 0.25s;
    cursor: pointer;
}

.popup_container .close_button:hover {
    background-color: var(--CHERRY);
    color: var(--WHITE);
}

.popup_container .close_button:active {
    background-color: var(--CHERRY);
    color: var(--CHERRY);
}

.popup_container .content {
    grid-area: content;
    background-color: var(--GREY_3);
    border-radius: 5px;
    overflow: auto;
    padding: 10px;
}

.popup_container#Actions_popup .main {
    width: 75vw;
    height: fit-content;
    max-width: 500px;
    max-height: 75vh;
}

.popup_container#Actions_popup .main form input[type="text"],
.popup_container#Actions_popup .main form input[type="number"],
.popup_container#Actions_popup .main form input[type="datetime-local"],
.popup_container#Actions_popup .main form select {
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    background-color: transparent;
    border: none;
    color: var(--WHITE);
    margin-bottom: 10px;
    padding: 10px;
}

.popup_container#Actions_popup .main form input[type="checkbox"] {
    margin: 10px 10px 20px 10px;
}

.popup_container#Actions_popup .main form button {
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    background-color: var(--GREY_1);
    border: none;
    color: var(--base_color);
    margin-bottom: 10px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}

.popup_container#Actions_popup .main form button:hover {
    background-color: var(--base_color);
    color: var(--WHITE);
}

.popup_container#Actions_popup .main form button:active {
    background-color: var(--base_color);
    color: var(--base_color);
}

.popup_container#Actions_popup .main form *:last-child {
    margin-bottom: 0;
}

.popup_container#logs_popup .main {
    width: fit-content;
    height: fit-content;
    max-width: 75vw;
    max-height: 75vh;
}

.popup_container#logs_popup table {
    border-spacing: 10px;
    min-width: 300px;
}

.popup_container#logs_popup table tr td:nth-child(1) {
    font-family: "Lucida Console", Courier, monospace;
    font-size: 14px;
    color: var(--GREY_0);
    text-align: center;
    white-space: nowrap;
}

@media (max-width: 750px) {
    .popup_container#logs_popup table tr td:nth-child(1) {
        white-space: normal;
    }
}

.popup_container#logs_popup table tr td:nth-child(3) {
    text-align: justify;
}