/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* PhongHNg's Personal Programming Library - CSS */
:root {
    --BLUE: #1877F2;
    --CHERRY: #F3425F;
    --GRAPE: #9360F7;
    --LEMON: #F7B928;
    --LIME: #45BD62;
    --PINK: #FF66BF;
    --SEAFOAM: #54C7EC;
    --TEAL: #2ABBA7;
    --TOMATO: #FB724B;
    --WHITE: #FFFFFF;
    --GREY_0: #999999;
    --GREY_1: #3A3B3C;
    --GREY_2: #242526;
    --GREY_3: #212121;
    --GREY_4: #18191A;
    --BLACK: #000000;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--GREY_4);
    color: var(--WHITE);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    margin-block-end: 0;
}

button,
input:not([type="checkbox"]),
select,
textarea {
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    width: 100%;
    background-color: var(--GREY_1);
    color: var(--WHITE);
}

label+input:not([type="checkbox"]),
label+select,
label+textarea,
form button {
    margin: 5px 0;
}

input[type="checkbox"]+label {
    margin-left: 5px;
}

button {
    background-color: var(--base_color);
    color: var(--WHITE);
    transition: background-color, color 0.25s;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: var(--WHITE);
    color: var(--base_color);
}

button:active {
    background-color: transparent;
    color: var(--WHITE);
}

button:disabled,
input:disabled,
select:disabled,
textarea:disabled {
    cursor: not-allowed;
}