html,
body {
    height: 100%;
}

#wrapper {
    height: 100%;
    width: 100%;
    display: table;
}

#sub_wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

#container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 15px 15px;
    grid-auto-flow: row;
    grid-template-areas:
        "file_uploader file_uploader file_uploader"
        "password sign_submit verify_submit"
        "result result result";
    background-color: var(--GREY_2);
    padding: 15px 15px 0 15px;
    border-radius: 10px;
    margin: 0 auto;
    width: 80%;
    max-width: 650px;
    box-shadow: 0 0 50px 0 var(--BLACK);
}

#file_uploader {
    grid-area: file_uploader;
    background-color: transparent;
}

#password {
    grid-area: password;
    background-color: var(--GREY_1);
}

#sign_submit {
    grid-area: sign_submit;
    --base_color: var(--TEAL);
}

#verify_submit {
    grid-area: verify_submit;
    --base_color: var(--GRAPE);
}

#result {
    grid-area: result;
    font-weight: bold;
    padding: 15px;
    margin: 0 -15px 0 -15px;
    border-radius: 0 0 10px 10px;
    transition: background-color 0.25s;
}

#result img {
    height: 13px;
}

#result a {
    color: var(--WHITE);
}